*{
    padding-left: 0px;
    margin: 0px;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
}

body{
    background-image: repeating-linear-gradient(10deg, #6c95e0 0px,#6c95e0 20px, #6d6ddd 20px, #6d6ddd 40px);
}

.container{
    background-color: #565fb1;
    width: 650px;
    margin: 10px auto auto auto;
}
.list-menu{
    background-color: #103f6b;
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
}
.list-menu li{
    background-color: #818dd1;
    display: inline-block;
    padding: 0.5em;
}
.list-menu li:hover{
    background-color: #7483da;
}
.list-menu a{
    text-decoration: none;
    color: inherit;
}
.seccion{
    background-color: #6872cf;
    float: left;
    width: 70%;
    min-height: 550px;
    margin: 5px;
}
#img-inicio{
    border: 3px solid grey;
    width: 300px;
    margin: 10px auto;
}
#img-inicio img{
    width:300px;
    height: 150px;
}
.list-aside{
    background-color: #548cc0;
    float: left;
    list-style: none;
    width: 20%;
    padding: 5px;
    margin: 10px;
}
.list-aside li{
    background-color: #71a3d1;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.list-aside li:hover{
    background-color: #6593be;
}
.footer{
    background-color: #1a4872;
    clear: both;
    padding: 5px;
    margin: 10px 0px;
}

.temas a{
    background-color: #3259a1;
    border: 1px solid gray;
    margin: 4px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.temas a:hover{
    background-color: #436cb8;
}