/*
COMO FUNCIONA CSS
*Especificidad -> establece lo especifico de un elemento para saber que estilo aplicar.
Formula:
            Etiquetas y pseudoelementos 001
            clases, atributos y pseudoclases 010
            Ids 100
            Estilos en linea 1000
            ***!important tiene priodad en todos, pero no se debe usar nunca.
*Cascada -> Funciona siempre que la especificidad tenga el mismo valor en los elementos.

*Herencia -> Es la capacidad de un elemento de heredar sus propiedades, con inherit se obtiene explicitamente la herencia, y con initial se obtiene las propiedades por defecto.

*/
/*Especificidad ejemplos*/
h1{
    background-color: rgb(77, 115, 185);
}

h1.title#title{
    background-color: #3a6ba3;
}

h1.title{
    background-color: cornsilk;
}

/*Herencia*/

.title{
    color: #2b999c;
}

span{
    color: initial;
    /*color: inherit;*/
}

.texto-sin-div{
    color:cornflowerblue;
}