/*
LISTAS
    Resetar estilos por defecto de una lista
        margin-top:0
        margin-bottom:0
        margin-left:0

    Hay 3 propiedades para las listas, se puede aplicar al padre o a los elementos de lista:
        ul | ol | dl

    list-style-type: establece el estilo de viñeta
        disc
        circle
        square
        decimal
        decimal-leading-zero
        lower-roman
        upper-roman
        lower-greek
        lowwer-latin
        upprt-latin
        armenian
        georgian
        lower-alpha
        upper-alpha

    list-style-position: hace que las viñetas se coloquen por dentro o por fuera del elemento
        inside | outside

    list-style-image: pone una imagen en lugar de la viñeta, no se suele usar
        url(image)

    *Normalmente se suele usar el shorthand list-style.

TABLAS
    table-layout: define como se comportan las dimensiones de una tabla y los anchos por defecto.
    tabla y los anchos de las columnas
        automatic: valor por defecto
        fixed: necesita un width declarado, si no se le da un ancho a cada columna se distribuye equitativamente

    caption-side: define donde se coloca el caption de una tabla
        top: valor por defecto
        bottom: se coloca al pie de la tabla

    border-spacing: controla el espacio entre las celdas

    border-collapse: controla si las celdas se mantienen juntas o separadas
        separate: valor por defecto
        collapse: junta las celdas

    empty-cells: controla que hacer con las celdas vacias
        show: valor por defecto
        hide: oculta las celdas vacias

IMAGENES
        No existen propiedades para imagenes en CSS
        1.Imagenes responsive ---> img{max-width: 100%}

        2.Las imagenes por defecto son elementos inline, esto causa un espacio por debajo debido a su line-height, se puede solucionar de dos maneras:
            line-height:0 | display: block.

        3.Centrado horizontal
            en elementos inline ---> text-align: center
            en elementos bloque ---> margenes laterales automaticos
        
        4. Centrado vertical
            Flexbox
            vertical-align: middle. A la imagen y al texto

    object-fit: se usa para especificar como se debe cambiar el tamaño de la imagen o video para que se ajuste a su contenedor.
        fill: valor por defecto.Deforma la imagen para que ocupe todo el contenedor.
        contain: el contenido se ajustara hasta rellenar de forma horizontal o vertical el contenedor sin deformarse.Muestra la imagen completa, pero se encoge.
        cover: el contenido se ajustara hasta rellenar de forma horizontal y vertical el contenedor sin deformarse.Solo muestra una parte de la imagen ya que se agranda.
        none: el contenido no se redimensiona y mantiene su tamaño original mostrando solo el trozo de las dimensiones especificadas.
        scale-down: selecciona el menor de la comparacion entre none y contain.

    object-position: coloca la imagen cuando esta no se muestra completa en el contener.

    filter:
        none
        blur(px): desenfoque
        brightness(%): brillo. De 0 a 1 oscuridad y mayor a 1 sobreexposicion.
        contrast(%): contraste. De 0 es negro y de 1 da mas contraste.
        drop-shadow(h-shadow v-shadow blur spread color): sombra.
        grayscale(%): 0 es el original y 1 es blanco y negro.
        hue-rotate(deg): añade matriz de color segun la rueda cromatica.
        invert(%): invierte el color. 0 es el original y 1 es invertido completamente.
        opacity(%): opacidad. 1 es el original y 0 es transparente.
        saturate(%): saturacion. 1 es el original, 0 es desaturada y mayor a 1 es sobresaturada.
        sepia(%): 0 es el original y 1 es totalmente sepia.

    clip-path: es una mascara que oculta partes de una caja.
        circle(radio at posX posY|palabras clave): dibuja un circulo.

        ellipse(): dibuja una elipse, podemos especificar dos centros.

        inset(all round 1px): dibuja un border transparente por dentro de la caja, existe la opcion de redondear las esquinas con la palabra clave round.

        polygon(): especifica una serie de puntos para definir la zona visible siendo el punto 0 0 la esquina superior izquierda.

    Generador de clip-path: https://bennettfeely.com/clippy/
*/
/*LISTA*/

.container-ej{
    padding: 0.5em;
    justify-content: center;
    align-content: center;
}
.list-item-image{
    border: 1px solid grey;
    width: 6em;
    list-style-position: inside;
    list-style-image:url(../source/image/arrows.png);
}
.list-item-geek{
    border: 1px solid grey;
    width: 6em;
    list-style-type: lower-greek;
    list-style-position: outside;
}
.footer-article a{
 text-decoration: underline;
}
/*OTRA MANERA DE CAMBIAR LA VIÑETA SIN LIST-STYLE-IMAGE
.item::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 15px;
    background-image: url(https://img2.freepng.es/20180203/hfe/kisspng-arrow-icon-right-arrow-png-image-5a7589d14c14c7.5020417515176524333116.jpg);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
} */

/*TABLE*/
.table{
    background-color: plum;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-spacing: 2em 1em;
    border-collapse: separate;
    empty-cells: hide;
}
.caption{
    background-color: pink;
    caption-side: bottom;
}
.tData{
    background-color: rebeccapurple;
}
/* IMAGENES */
.container-imgs,.container-paths{
    display: grid;
    grid-gap: 1em;
    justify-content: left;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 8em;
    grid-auto-rows: 8em;
    overflow-x: auto;
}
.cont-img,.cont-path{
    background-color: cadetblue;
    position: relative;
}
.cont-img footer,.cont-path footer{
    background-color: #00000080;
    width: 100%;
    display: block;
    position:absolute;
    bottom: 0px;
    word-break:break-all;
}
[class^= img]{
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fill{
    object-fit: fill;
}
.img-con{
    object-fit: contain;
}
.img-cov{
    object-fit: cover;
}
.img-sd{
    object-fit: scale-down;
}
.img-pos-1{
    object-fit: cover;
    object-position: 0px 0px;
}
.img-pos-2{
    object-fit: cover;
    object-position: bottom right;
}
.img-blur{
    filter: blur(0.1em);
}
.img-brig{
    filter: brightness(0.5);
}
.img-cont{
    filter: contrast(50%);
}
.img-dshad{
    filter: drop-shadow(0.5em 1em 1em red);
}
.img-gray{
    filter: grayscale(0.7);
}
.img-hrot{
    filter: hue-rotate(45deg);
}
.img-inv{
    filter: invert(40%);
}
.img-opac{
    filter: opacity(0.3);
}
.img-sat{
    filter: saturate(30%);
}
.img-sep{
    filter: sepia(0.5);
}
/*Clip-path*/
[class ^= path]{
    background-color: #80808079;
    border: 1px solid black;
    width: 8em;
    height: 8em;
}
.path-circle{
    clip-path: circle(4em at center center);
}
.path-ellipse{
    clip-path: ellipse(4em 3em at center center);
}
.path-inset{
    clip-path: inset(15px 30px 45px 60px round 10px 20px 30px 50px);
}
.path-polygon{
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
.path-path{
    clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z');
}