*{
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
:root{
    --bc-container: #ffffff;
    --bc-button-initial: #27277e;
    --bc-sections: #232857;
    --bc-articles: #6565c733;
    --bc-footer-article: #00000065;
    --bc-button-aside: #1d5b967a;
    --bc-temas-index: #4f3f96;
    --bc-strong: #484891;
    --bc-dict-style: #405c77ab;
    --bc-container-ej: #5262964d;
    --background-image: repeating-linear-gradient(10deg, #6c95e0 0px,#6c95e0 20px, #6d6ddd 20px, #6d6ddd 40px);
    --border: 0.2rem solid #4e6badbd;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.7rem;
}
h5{
    font-size: 1.5rem;
}
p,ul,pre,a,dt,dd,h6{
    font-size: 1.3rem;
}
pre{
    display: grid;
}
code{
    overflow: auto;
    text-align: left;
}
.container{
    background-color: var(--bc-container);
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
}
/* HEADER */
.header-principal{
    background-color: var(--bc-sections);
    grid-area: "header";
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.header-principal a{
    background-color: var(--bc-button-initial);
    padding: 1rem;
    display: grid;
    justify-content: center;
    align-content: center;
}
.header-principal a:hover{
    opacity: 0.8;
}
.main{
    grid-area: "main";
    display: grid;
    grid-template-areas: "section aside";
    grid-template-columns: 90% 10%;
}
/* SECTION */
.seccion{
    background-color: var(--bc-sections);
    border: var(--border);
    grid-area: "section";
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
}
.article{
    background-color: var(--bc-articles);
    margin: 1em;
    padding: 0.5em;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
}
.artic-figure{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
    align-content: center;
}
.artic-temas-index{
    display: grid;
    grid-gap: 0.3rem;
}
.artic-temas-index a{
    background-color: var(--bc-temas-index);
    padding: 1rem;
    font-size: 1.5em;
}
.artic-temas-index a:hover{
    opacity: 0.8;
}
.img-inicio img{
    max-width: 100%;
}
.list-style li{
    margin: 0em;
    list-style: circle;
    list-style-position: inside;
    text-align: left;
    line-height: normal;
}
.list-style > li{
    margin: 0em;
    list-style: disc;
    list-style-position: inside;
    text-align: left;
    line-height: normal;
    text-indent: 0px;
}
.list-style strong{
    background-color: var(--bc-strong);
}
.dictionary-style{
    background-color: var(--bc-dict-style);
    width: 80%;
    margin: 1em auto;
    display: grid;
    line-height: normal;
}
.dictionary-style dt{
    text-align: left;
}
.dictionary-style dd{
    opacity: 0.5;
    margin-bottom: 0.2em;
    text-align: left;
}
.container-ej{
    background-color: var(--bc-container-ej);
    display: grid;
}
/* ASIDE */
.aside{
    background-color: var(--bc-sections);
    border: var(--border);
    grid-area: "aside";
}
.list-aside{
    margin: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(1,6em);
    grid-template-rows: repeat(3,4em);
    justify-content: center;
    align-content: center;
    grid-gap: 1rem;
}
.list-aside li{
    display: grid;
}
.list-aside a{
    background-color: var(--bc-button-aside);
    display: grid;
    justify-content: center;
    align-content: center;
}
.list-aside a:hover{
    opacity: 0.8;
}
/* FOOTER */
.footer{
    background-color: var(--bc-sections);
    border: var(--border);
    grid-area: "footer";
    padding: 1em;
}

.footer-article{
    background-color: var(--bc-footer-article);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
}