/*
PSEUDOELEMENTOS
    elemento::first-letter(elemento de bloque)
            selecciona la primer letra del elemento
    elemento::first-line(elemento de bloque)
            selecciona la primer linea de parrafo del elemento
    elemento::selection
             selecciona caracteristicas de la porcion del documento seleccionamiento
    elemento::before
            selecciona la parte anterior del elemento
            la propiedad content es obligatoria
            elemento de linea por defecto
            es hijo del elemento al que pertenece
    elemento::after
            selecciona la parte posterior del elemento
            la propiedad content es obligatoria
            elemento de linea por defecto
            es hijo del elemento al que pertenece

PSEUDOCLASES selectores que reaccionan en tiempo real como una escucha
    Dinamic
        :link --->link no visitado
        :visited --->link visitado
        :active -->link al momento del click
        :hover --->cuando el puntero del mouse esta sobre el elemento
        :focus -->cuando se centra la atencion en el elemento
    Target
        elemento:target 
                elemento que es objetivo de marcador o ancla
    Language
        elemento:lang()
                elemento que contiene el atributo lang que especifiquemos
    UI States para formularios
        :enabled
        :disabled
        :checked
        :in-range
        :out-of-range
        :optional
        :required
        :valid
        :invalid
        :read-only
        :read-write
    Structural
        :root ---> representa la raiz del documento(html), pero con mas especificidad.
        :empty ---> aplica para los elementos vacios.
            -child
                :first-child ---> selecciona al primer hijo
                :last-child ---> selecciona al ultimo hijo
                :nth-child(n) ---> selecciona al hijo n
                :nth-last-child(n) ---> selecciona al hijo n empezando del final
                :only-child ---> selecciona al hijo unico
            -type
                :first-of-type
                :last-of-type
                :nth-of-type(n)
                :nth-last-of-type(n)
                :only-of-type
                    Valores posibles
                        odd-impares
                        even-pares
                        enteros
                        equaciones ...n es un multiplicador
            Negation
                :not() ---> selecciona el elemento que no cumpla la condicion
        
*/
.dictionary-subt{
    text-align: left;
}
/*Pseudoelementos*/
.ej-pseudoelement-1::first-letter{
    color: #ca2d2d;
}
.ej-pseudoelement-2::first-line{
    color: #9e2727;
}
.ej-pseudoelement-3::selection{
    background-color: hotpink;
    color: #9e2727;
}
.ej-pseudoelement-4::before{
    content:"*Contenido del pseudo-elemento*";
    color: #9e2727;
}
.ej-pseudoelement-5::after{
    content:"*Contenido del pseudo-elemento*";
    color: #9e2727;
}

/*Pseudoclases*/
/*dinamic*/ 
.ej-pseudoclas-link-1:link{
    color: blue;
}
.ej-pseudoclas-link-2:visited{
    color: gray;
}
.ej-pseudoclas-link-3:active{
    color: red;
}
.ej-pseudoclas-hover:hover{
    background-color: blueviolet;
}
.ej-pseudoclas-focus:focus{
    background-color: pink;
}
/*Target*/
/*
.target{
    background-color: teal;
    display: block;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    position: sticky;
    top: 0px;
    color: white;
    text-decoration: none;
    text-align: center;
}
#texto{
    margin-top: 500px;
    margin-bottom: 500px;
    background-color: rgb(121, 199, 199);
}
#texto:target{
    padding-top: 70px;
}*/
#objetivo-ancla:target{
    background-color: rebeccapurple;
}
/*Language*/
.text-in-lang:lang(en){
    color: greenyellow;
}
/*UI states*/
.ui-ej:enabled{
    background-color: #c8e9b8;
}
.ui-ej:disabled{
    background-color: #eb8484;
}
.ui-ej:checked + label{
    color: #5eccc3;
}
.ui-ej:in-range{
    background-color: green;
}
.ui-ej:out-of-range{
    background-color: red;
}
.ui-ej2:optional{
    background-color: yellow;
}
.ui-ej:required{
    background-color: pink;

}
.ui-ej3:valid{
    background-color: blue;
}
.ui-ej3:invalid{
    background-color: orangered;
}
.ui-ej4:read-only{
    background-color: peru;
}
.ui-ej4:read-write{
    background-color: powderblue;
}
/*Structural*/
:root{
 --main-color:white;
}
.ej-structure:empty{
    background-color: red;
}
.ej-structure:first-child{
    background-color: blue;
}
.ej-structure:last-child{
    background-color: blueviolet;
}
.ej-structure:nth-child(3){
    background-color: brown;
}
.ej-structure:nth-last-child(4){
    background-color: burlywood;
}
.hijo-unico:only-child{
    background-color: cadetblue;
}
.type:first-of-type{
    background-color: chartreuse;
}
.type:last-of-type{
    background-color: chocolate;
}
.type:nth-of-type(2){
    background-color: #fff;
}
.type:nth-last-of-type(2){
    background-color: coral;
}
h6:only-of-type{
    background-color: darkgray;
}
.hijos:not(h6){
    background-color: darkolivegreen;
}