/*
flex-direccion:  row | row-reverse | column | column-reverse
    controla la direccion de main axis y cross axis

flex-wrap:  nowrap | wrap | wrap-reverse
    controla si los hijos del contenedor haran salto de linea o no.
*/

.container{
    background-color: salmon;
    width: 150px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.children{
    background-color: #e25858;
    width: 30px;
    height: 30px;
    margin: 5px;
    text-align: center;
    line-height: 25px;
}