/*
PARTE 1
    shorthand ----> flex-flow: flex-direction flex-wrap

        flex-direccion:  row | row-reverse | column | column-reverse
            controla la direccion de main axis y cross axis

        flex-wrap:  nowrap | wrap | wrap-reverse
            controla si los hijos del contenedor haran salto de linea o no.


PARTE 2
    Alineamiento: se aplican al flex-container
        main-axis: 
            justify-content: flex-start | center | space-between | space-around | space-evenly | flex-end

        cross-axis: 
            align-items: una linea
                flex-start | center | flex-end | stretch(por defecto,estira el contenido) | baseline
            
            align-content: varias lineas
                flex-start | center | flex-end | stretch | baseline

            align-self: un item especifico

PARTE 3 REPARTIMIENTO(TAMANIO)
    Flexbox
        shorthand--->   flex: 0 0 auto
            
            flex-grow: establece cuantas divisiones gana cuando hay espacio sobrante.
            flex-shrink: establece cuantas diivisiones pierde cuando no hay espacio suficiente.
            flex-basis: establece cuando espacio ocupa el item antes de encojer o extenderse.

        order: establece que orden ocupara el elemento respecto al peso de los otros elementos.
*/
/*align-items*/
.container-flex{
    background-color: red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    flex: 1 1 1em;
}
.items-flex{
    background-color: #2bd89e;
}