/*BOX MODEL
Medidas
    Las propiedades width y height funcionan en los bloques, pero en los elementos de linea no.

Margin: funciona en los elementos de bloque y en los elementos de linea, pero en estos ultimos solo con left y right.
margin-top,margin-right,margin-bottom,margin-left.
    4 elementos -> top,right,botton,left.
    3 elementos -> top,right/left,bottom.
    2 elementos -> top/botton,right/left.
    1 elemento -> top/bottom/right/left.
    *Para que un elemento se mueva a los lados al usar margin, debes  asignarle un ancho.
    *El margin por defectos es de 8 pixeles.

Padding: funciona en los elementos de bloque y de linea.
    padding-top,padding-right,padding-left,padding-bottom.
    4 elementos -> top,right,botton,left.
    3 elementos -> top,right/left,bottom.
    2 elementos -> top/botton,right/left.
    1 elemento -> top/bottom/right/left.
    nota--El padding puede modificar el tamaño del elemento.
    
Malas practicas
    1.- Usar el selector universal y asignar margin y padding 0
        *{
            margin: 0;
            paddin: 0;
        }
    2.- Asignar un padding 0 al body, ya que no tiene sentido.

Border: es el borde.
        "border: width style color;"
        border-width
            top/right/bottom/left
            (border-top-width)
        border-style
            top/right/bottom/left
        border-color
            top/right/bottom/left

Box-sizing
    content-box: valor por defecto, el padding puede modificar su medida.
    border-box: calcula las dimensiones del contenido automaticamente cuando se modifica el padding o el border para que el elemento no cambie su tamano.

Border radius: es un short hand
    border-top-left-radius
    border-top-right-radius
    border-bottom-right-radius
    border-bottom-left-radius.

    4 elementos -> esq.sup.izq./esq.sup.der./esq.inf.der/esq.inf.izq
    3 elementos -> esq.sup.izq. ,esq.sup.der./esq.inf.izq,esq.inf.der.
    2 elementos -> esq.sup.izq/esq.inf.der.,esq.sup.der./esq.inf.izq.
    1 elemento -> todas las esquinas.

Overflow: 
    hidden,scroll, auto.

Outline: 
    tiene similitudes con border, pero no esta dentro del modelo de cajas.
    Diferencias: no tiene la opcion de trabajar cada lado por separado, no modifica el flujo de trabajo, puede ser interno o externo, y ademas, tiene un separamiento.

Box shadow:
    inset/offset-x/offset-y/blur-radius/spread-radius/color
    inset...
    offset-x...desface en el eje x
    offset-y...desface en el eje y
    blur-radius...degradado de la sombra
    spread-radius...tamanio de la sombra, parecido al padding
    color....color de la sombra

*/

/*ELEMENTO DE CON WIDTH Y HEIGHT*/
.element-size{
    background-color: #4d9797;
    width: 7rem;
    height: 7rem;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0.5em auto;
}
/*MARGIN*/
.tabla-margin{
    display: grid;
    justify-content: center;
    align-content: center;
}
.tabla-margin li{
    background-color: #44638a;
    margin: 0.2em;
}
.element-margin-1{
    background-color: #4d9797;
    width: 5em;
    height: 5em;
    margin: 0.3em auto;
    display: grid;
    justify-content: center;
    align-content: center;
}
/*PADDING*/
.element-padding-1{
    background-color: #4d9797;
    width: 5em;
    height: 5em;
    margin: 0.3em auto;
    padding: 1em;
    display: grid;
    justify-content: center;
    align-content: center;
}
/*BORDER*/
.element-border-1{
    background-color: #4d9797;
    width: 5em;
    height: 5em;
    margin: 0.3em auto;
    padding: 1em;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-content: center;
}
/*BOX SIZING*/
.element-bsizing-1{
    background-color: #4d9797;
    box-sizing: border-box;
    width: 5em;
    height: 5em;
    margin: 0.3em auto;
    padding: 1em;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-content: center;
}
