/*
Variables css
Necesitan estar dentro de un selector
Tienen herencia y cascada
Pueden ser globales y locales
Sintaxis:
        selector{
            --variable:valor;
        }
        propiedad: var(--variable);
*/
:root{
    --backg-color-childrens: rebeccapurple ;
    --color-text: white;
}
.container-ej{
    background-color: #4c7777;
    width:100%;
    height: 10rem;
    padding: 1em;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
}
.element-local{
    --backg-color-childrens: pink;
    --color-text: black;
    background-color: var(--backg-color-childrens);
    color: var(--color-text);
    display: grid;
    justify-content: center;
    align-content: center;
}
.element-global{
    background-color: var(--backg-color-childrens);
    color: var(--color-text);
    display: grid;
    justify-content: center;
    align-content: center;
}