/*
POSITION

Position relative: conserva el espacio reservado, se coloca respecto a su misma posicion.

Position absolute: no conserva el espacio reservado, se coloca respecto al contenedor mas cercano.

Posicion fixed: no conserva el espacio reservado, se posiciona de acuerdo al DOM html y no cambia su posicion al hacer scroll.

Posicion sticky: tiene un espacio reservado con el cual forma parte del flujo normal html, pero se comporta como fixed cuando se cumple una condicion sobre su posicion.
Necesita un contenedor con altura, ademas de contar con overflow: visible.

Z-index: indice que puede tener numeros enteros negativos y positivos que sirver para posicionar un elemento sobre otro o visceversa.

Stacking context:
    1.Elemento posicionado con z-index
    2.Elemento posicionado sin z-index
    3.Elemento no posicionado
    4.Elemento con z-index negativo

ORDEN
    1.Orden de las propiedades:
    2.Posicionamiento
    3.Box model
    4.Texto
    5.Visuales
    6.Varios
*/
.container-element{
    background-color: #6d74d3;
    width: 10em;
    height: 10em;
    margin: 1em auto;
    position: relative;
}
.element-initial{
    border: 0.2rem black dotted;
    width: 5em;
    height: 5em;
    position: absolute;
}
/* POSITION STATIC */
.element-static{
    background-color: #5da1a1;
    width: 5em;
    height: 5em;
    position: static;
}
/*POSITION RELATIVE*/
.element-relative{
    background-color: #5da1a1;
    width: 5em;
    height: 5em;
    position: relative;
    top: 25%;
    left: 40%;
}
/* POSITION ABSOLUTE */
.element-initial-absolute{
    border: 0.2rem black dotted;
    width: 100%;
    height: 100%;
    position: absolute;
}
.element-absolute{
    background-color: #5da1a1;
    width: 5em;
    height: 5em;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/* POSICION FIXED */
.element-initial-fixed{
    border: 0.2rem black dotted;
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}
.element-fixed{
    background-color: #5da1a1;
    width: 100%;
    height: 25%;
    position: relative;
}
.text-fixed{
    width: 100%;
    height: 75%;
    overflow: auto;

}
/* POSICION STICKY */
.container-element-sticky{
    width: 100%;
    height: 10em;
    overflow: visible;
}
.element-sticky{
    position: sticky;
    top: 0px;
}
/* Z-INDEX */

/* STACKING CONTEXT */