/* 
Tipografias 
    Familias tipograficas
        Tienen nombre propio
            Arial, Times New Roman, open sans, ubuntu
            
        Familias genericas o seguras(fuentes seguras)
            Su nombre se basa en sus caracteristicas
                serif: tiene un adorno en los renates
                sans-serif: tiene un corte seco en los renates
                cursive: emula tipografia manuscrita
                fantasy: letra decoorativa
                nonospace: los caracteres tienen el mismo ancho
FONT
    font-family: establece la familia tipografica
        se usa el nombre propio de la fuente, la familia generica y se recomienda usar fuentes de reserva
    font-size: establece el tamaño de la fuente
        se define en unidades:
            px: pixeles
            em: medida relativa al contexto(padre)
            rem: medida relativa al html
            %: medida relativa al tamaño actual

            vh: medida relativa al height del viewport
            vw: medida relativa al width del viewport
            vmin: medida relativa al valor minimo de viewport, se usa para responsive(en celulares)
            vmax: medida relativa al valor maximo de viewport

    font-weight: establece el grosor de la fuente
        bold | normal | 100-900
    font-style: establece el estilo de la tipografia
        normal | italic | oblique
TEXT
    text-transform: transforma el texto a mayusculas, minusculas, etc.
        lowercase | uppercase | capitalize(primera letra en mayuscula)
    text-align: alinea el texto del elemento a la izquierda, derecha, etc. Solo funciona con elementos de bloque y botones.
        center | left | right | justify
    text-decoration: establece la decoracion del texto.
        overline | line-through | underline | none
    text-indent: mueve la primera linea de un texto. Solo en elementos de bloque.
OTHER
    line-height: establece la altura de la linea, se usa para centrar un texto en la altura.Solo en elementos de bloque.
    letter-spacing: establece la separacion de las letras con una media en cualquier unidad.

GOOGLE FONTS Y @FONT-FACE
    https://fonts.google.com/

    https://www.dafont.com/es/

    Analizar fuentes web
        whatfont
*/

/* FAMILIAS TIPOGRAFICAS */
/*Fuentes seguras*/
.text-family{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
/* FONT */
.prop-font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
}
/*TEXT*/
.prop-text{
    text-transform: capitalize;
    text-align: left;
    text-decoration: dotted;
    text-indent: 0px;
}

/*font-face*/
@font-face {
    font-family: 'mifuente';
    src: url('assets/fonts/LazySunday-Regular.ttf');
}
.lorem-2{
    font-family: mifuente,sans-serif;
}
