/*COLORES

BOX SHADOW Y TEXT SHADOW
    box-shadow ---> h-offset v-offset blur spread color inset/outset
    text-shadow ---> h-offset v-offset blur color
        blur: desenfoque, degradado
        spread: propagacion
*/
body{
    background-color: rgb(151, 167, 214);
}
[class^=cl]{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
}
.cl-color{
    background-color: aquamarine;
}
.cl-rgb{
    background-color: rgb(75, 0, 0);
}
.cl-rgba{
    background-color: rgba(12, 30, 50, 0.75);
}
.cl-hexa{
    background-color: #fe6;/*#ffee66*/
}
.cl-hsl{
    background-color: hsl(10deg, 50%, 80%);
}
.cl-hsla{
    background-color: hsla(180deg, 50%, 75%, 0.5);
}

.box-shadow{
    background-color: rebeccapurple;
    display: inline-block;
    width: 100px;
    height: 100px;
    box-shadow: -10px -6px 15px 1px black inset;
}
.text-shadow{
    font-size: 25px;
    display: inline-block;
    margin-left: 10px;
    text-shadow: 5px 5px 5px rebeccapurple, 10px 10px 15px black;
}
.l-gradient{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    background-image: linear-gradient(50deg,rebeccapurple 50%,skyblue 60% 75%,grey 85%);
}
.r-gradient{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    margin-left: 20px;
    background-image: radial-gradient(100px 50px at center bottom,transparent 50%,violet 53%);
}
.s-gradient{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    background-image: repeating-linear-gradient(90deg,
    #da6969 0px,
    #da6969 10px,
    #6060e2 10px,
    #6060e2 20px);
}
.p-gradient{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    background-image: repeating-radial-gradient(circle 20px at left top,#da6969 0,#da6969 10px,#6060e2 10px,#6060e2 20px);
}