/*
COLORES

BORDER-RADIUS

BOX SHADOW Y TEXT SHADOW
    box-shadow ---> h-offset v-offset blur spread color inset/outset
    text-shadow ---> h-offset v-offset blur color
        blur: desenfoque, degradado
        spread: propagacion
*/
body{
    background-color: rgb(151, 167, 214);
}
.container-ej{
    padding: 0.5em;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
    grid-auto-flow: column;
    grid-auto-columns: 7em;
    grid-auto-rows: 7em;
}
.container-ej>div{
    border: 0.1em solid black;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: flex-end;
    grid-template-columns: 100%;
    grid-template-rows: auto;

}
.container-ej footer{
    background-color: #00000065;
}
.item-overf-auto{
    background-color: #6060e2;
    overflow: auto;
}
.item-overf-scroll{
    background-color: #6060e2;
    overflow: scroll;
}
.item-border-circl{
    background-color: #54386d;
    border-radius: 1em 2em 3em 4em;
}
.item-border-ellip{
    background-color: #54386d;
    border-radius: 1em 2em 3em 4em / 3em;
}
.cl-color{
    background-color: aquamarine;
}
.cl-rgb{
    background-color: rgb(75, 0, 0);
}
.cl-rgba{
    background-color: rgba(12, 30, 50, 0.75);
}
.cl-hexa{
    background-color: #fe6;/*#ffee66*/
}
.cl-hsl{
    background-color: hsl(10deg, 50%, 80%);
}
.cl-hsla{
    background-color: hsla(180deg, 50%, 75%, 0.5);
}

.box-shadow{
    background-color: rebeccapurple;
    box-shadow: -10px -6px 15px 1px black inset;
}
.text-shadow{
    text-shadow: 5px 5px 5px #a18bb8, 10px 10px 15px #a14747;
}
.l-gradient{
    background-image: linear-gradient(50deg,rebeccapurple 50%,skyblue 60% 75%,grey 85%);
}
.r-gradient{
    background-image: radial-gradient(100px 50px at center bottom,transparent 50%,violet 53%);
}
.s-gradient{
    background-image: repeating-linear-gradient(90deg,
    #da6969 0px,
    #da6969 10px,
    #6060e2 10px,
    #6060e2 20px);
}
.p-gradient{
    background-image: repeating-radial-gradient(circle 20px at left top,#da6969 0,#da6969 10px,#6060e2 10px,#6060e2 20px);
}