/*SELECTORES*/


/* 
    Selectores Simples---------------------
        Selectores elementales
            Selector Universal -> *
            Selector de tipo o etiqueta -> nombre de la etiqueta

        Selectoes de atributo
        id -> #(no se recomienda usar)
        clase -> .

        otros atributos
            [atributo]
            [atributo=valor]
            [atributo^=valor] ==> busca el atributo que tenga el valor en la primer posicion.
            [atributo*=valor] ==> busca el atributo que tenga el valor en cualquier posicion.
            [atributo$=valor] ==> busca el atributo que tenga el valor en la ultima posicion.
            [atributo|=valor] ==> busca el atributo que tenga el valor en la primer posicion sin importar que tenga un guion(-) delante de la palagra,funciona para lang.

    Selectores Compuestos-----------------------
        Selectores Agrupados: usan comas para trabajar con mas de un elemento.
        
        Selectores Combinadores
            *Selector descente: se usa el espacio para seleccionar el atributo hijo, por buena practica se recomienda no mas de dos.
            *Selector de hermano siguiente "+": selecciona al hermano adyacente.
            *Selector de hermanos siguientes "~": selecciona a todos los hermanos siguientes.
            *Selector de hijos directos ">": selecciona solo los hijos directos.

        Pseudoclases - Pseudoelementos
*/
/*Selector universal*/
*{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
/*Selector de tipo*/
body{
    background-color: silver;
    margin: 10px;
    border: 3px solid gray;
    border-radius: 5px;
} 
/*Selector de atributo por id*/
#titulo-principal{
    background-color: rgb(148, 166, 199);
}
/*Selector de atributo por clase*/
.menu{
    background-color: rgb(113, 165, 216);
}
/*Selector de otros tipos de atributos "[]"*/
[href]{
    background-color: cornflowerblue;
}
/*Selector con un valor definido*/
[href="https//:www.google.com"]{
    background-color: cornsilk;
}
/*Selector con valor al princio*/
[href^="al-principio"]{
    background-color: darksalmon;
}
/*Selector con valor en cualquier posicion*/
[href*="cualquier"]{
    background-color: green;
}
/*Selector con valor al final*/
[href$="final"]{
    background-color: greenyellow;
}
/*Selector con valor al inicio que tolera el "-" */
[href|="es"]{
    background-color: skyblue;
}

/*Selector agrupado*/
.texto-1,
.texto-2{
    background-color: slategray;
    margin: 5px;
    font-size: small;
}


/*Selector descendente*/
.descendente p{
    background-color: cadetblue;
}
.seccion-principal article{
    border: 2px solid grey;
    margin: 15px 5px;
}

/*Selector de hermano siguiente*/
.primer-hermano + p{
    background-color: chartreuse;
}
/*Selector de hermanos siguientes*/
.hermano-1 ~ p{
    background-color: chocolate;
}
/*Selector de hijos directos*/
.padre > div{
    background-color: cornflowerblue;
}