/*SELECTORES*/


/* 
    1. Selectores Simples---------------------
            a. Selectores elementales
                    Selector Universal -> *
                    Selector de tipo o etiqueta -> nombre de la etiqueta

            b. Selectores de atributo
                    id -> #(no se recomienda usar)
                    clase -> .

                    otros atributos
                        [atributo]        ==> busca los elementos que tengan el atributo especificado.
                        [atributo=valor]  ==> busca los elementos que tengan el atributo especificado con el valor especifico.
                        [atributo^=valor] ==> busca el atributo que tenga el valor en la primer posicion.
                        [atributo*=valor] ==> busca el atributo que tenga el valor en cualquier posicion.
                        [atributo$=valor] ==> busca el atributo que tenga el valor en la ultima posicion.
                        [atributo|=valor] ==> busca el atributo que tenga el valor en la primer posicion sin importar que tenga un guion(-) delante de la palabra,funciona para lang.

    2. Selectores Compuestos-----------------------
            a. Selectores Agrupados: usan comas para trabajar con mas de un elemento.
            
            b. Selectores Combinadores
                    *Selector descente: se usa el espacio para seleccionar el hijo de un elemento, por buena practica se recomienda no mas de dos.
                    *Selector de hermano siguiente "+": selecciona al hermano adyacente.
                    *Selector de hermanos siguientes "~": selecciona a todos los hermanos siguientes.
                    *Selector de hijos directos ">": selecciona solo los hijos directos.

    3. Pseudoclases - Pseudoelementos
*/
/*1. Selectores Simples---------------------*/
*{
    margin: 0px;
}
body{
    margin: 0px;
}
#valor-del-id{
    margin: 0px;
}
.valor-class{
    margin: 0px;
}
[href]{
    margin: 0px;
}
[href=valor]{
    margin: 0px;
}
[href^=va]{
    margin: 0px;
}
[href*=lo]{
    margin: 0px;
}
[href$=or]{
    margin: 0px;
}
[lang|=es-ep]{
    margin: 0px;
}
/*  2. Selectores Compuestos----------------------- */
h1, h2{
    margin: 0px;
}
ul li{
    margin: 0px;
}
section+aside{
    margin: 0px;
}
.primer-li~li{
    margin: 0px;
}
ul>li{
    margin: 0px;
}
/* 3. Pseudoclases - Pseudoelementos */
